<footer class="relative ph3 ph4-l white overflow-hidden | footer">
  <div class="absolute top-0 left-0 right-0 bottom-0 bg-red | footer-bg"></div>
  <div class="relative dt w-100 h-100">
    <div class="dn dtc-ns w-20 w-third-l pb3 pt4-l pr3 tr" >
      <!--<img src="/images/libs.png" width="60" height="60" class="ba bw2 b--washed-yellow br-100 | img-libs" />-->
    </div>
    <div class="dtc w-100 w-80-ns w-two-thirds-l pl3-ns pb4 v-btm">
      <p class="mv0 f6 f7-l fw4 lh-copy tc tr-ns">Built by <a href="https://twitter.com/libitx" class="link fw6 white hover-light-blue underline">Libs</a>. Powered by <a href="https://github.com/functional-bitcoin/agent" class="link fw6 white hover-light-blue underline">ğ‘“ğ</a>.</p>
    </div>
  </div>
</footer>